*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Josefin Slab', serif;
    font-weight: 800;
    font-size: 20px;
    background-color:#f1f1e9;
 
}
.container{
    padding: 0 25px 0 25px;
}

header{
    height: 65px;
    background-color:#241f20;
    color:#f1f1e9;
    width: 100%;
    height: 60px;
    padding:10px;
}
nav{
    display:none;

}
nav.mobile{
    display:block;
    text-align: center;
}


nav.mobile a{
    color:#241f20;
    text-align: center;


}
.mobile-menu{
margin: 10px auto;
text-align: center;
}



h1{
    font-size:1.2em;
    text-align: center;
    margin-top:20px;

}
a{
    text-decoration: none;
    color:white;
    background-color:#d7b070;
    line-height: 28px;
    padding: 2px;
    
}



li{
    list-style: none;
    padding-top:5px;

}


.drop-cap::first-letter{
    float:left;
    line-height:39px;
    font-size:3em;
    background-color: #d7b070;
    padding:14px 8px 3px 8px;
    margin-right: 8px;
    margin-bottom: 0px;
}

.main-text{
    width:360px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    text-align: left;
    width:100%;

}
p{
    margin:auto;
    margin-top: 50px;
   
}


img{
margin:auto;
width:360px;
display:block;
margin-left:auto;
margin-right:auto;
width: 100%;
}

figure{
    margin:0 auto;

}


figcaption{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6em;
    color:#6b686b;
    padding-top:10px;
    padding-bottom: 10px;;
    border-bottom: solid #6b686b 0.5px;
    margin:10px;
    width:370px;
    display:block;
margin-left:auto;
margin-right:auto;
}

footer{
    background-color:#241f20;
    height:50px;
    margin-top: 20px;
    position:fixed;
    bottom:0;
 

}

footer a{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6em; 
    color: #f1f1e9;
    background-color: transparent;
    display: inline;
}

.wiki{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:10px;
}



/* -------------------DESKTOP LAYOUT ------------------*/ 

@media (min-width:740px) {

    h1{
        font-size:2rem;
    }
    
    
figure{
    float:right;  
    margin: 20px;
    margin-top: 60px;
}
li{
    display:inline;
}


header{
    height: 120px;
    width: 100%;
    text-align: center;
}

.container{
    height: 85vh;
}
  



nav{

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display:inline;
    padding:0px;
    margin: 0px auto;
    text-align: center;
    
}
nav li{
    display:inline-block;
}

nav.mobile{
    display:none;
    margin-bottom: 6px;

}
.text{
    margin-left: 0;
    padding-top: 40px;
    width:70%;

}

p{
   padding-left: 20pxpx;
    width:50%;
}


nav ul{
    margin-top: 10px;
}
nav li{
    margin-right: 7px;
    margin-left: 7px;
}
nav a{
padding:4px;
}

}

